* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  
  }

  .col-md-6 {
    width: 50%; /* Set the width of each column */
}

.container-slider{
  display: flex;
  flex-direction: row;
  width: 70%;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    left: 400px;
    border-radius: 3px 0 0 3px;
    
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    height: 50px;
    width: 700px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  .product-list img {
    max-width: 100%;
    height: 250px;
  }
  
  .product-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start; /* Align items to the left */
}

.product-list li {
    margin-right: 10px; /* Adjust the spacing between list items if needed */
}

.product-list img {
    max-width: 100%;
    height: auto; /* Maintain the aspect ratio */
}
 
.write{
  padding: 20px;

}

p{
  color: black;
}
                                                                                                                                                                                                                                                                                                       